src/flows/Chatter_Bot_Notify_Followers_of_File_Change_Flow-5.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_File_Follower_Emails</name>
        <label>Get File Follower Emails</label>
        <locationX>131</locationX>
        <locationY>33</locationY>
        <actionName>ChatterBotFileFollowersInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>File_Has_Followers</targetReference>
        </connector>
        <inputParameters>
            <name>contentDocumentId</name>
            <value>
                <elementReference>varChatterBotFile.Content_Document_ID__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varEmailAddresses</assignToReference>
            <name>emailAddresses</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_File_Followers</name>
        <label>Send Email to File Followers</label>
        <locationX>129</locationX>
        <locationY>296</locationY>
        <actionName>ChatterBotFileSendEmailInvocable</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>chatterBotFile</name>
            <value>
                <elementReference>varChatterBotFile</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateName</name>
            <value>
                <stringValue>Chatter_Bot_File_Template</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toAddresses</name>
            <value>
                <elementReference>varEmailAddresses</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>attachFile</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>File_Has_Followers</name>
        <label>File Has Followers?</label>
        <locationX>130</locationX>
        <locationY>159</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>File_Has_Followers_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEmailAddresses</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_File_Followers</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>File_Has_Followers_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEmailAddresses</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <interviewLabel>Chatter Bot Files  {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Chatter Bot - Notify Followers of File Change Flow</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>Get_File_Follower_Emails</startElementReference>
    <variables>
        <name>varChatterBotFile</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Chatter_Bot_File__c</objectType>
    </variables>
    <variables>
        <name>varEmailAddresses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
